set timeout=5

function add_entry {
    menuentry "BlissOS $1" "$@" {
        shift 2
        linux $prefix/vmlinuz ROOT=/dev/mmcblk0p2 DATA=/dev/mmcblk0p3 $@
        initrd $prefix/initrd.cpio.gz
    }
}

add_entry "" quiet intel_idle.max_cstate=0
add_entry "w/ FFMPEG" quiet FFMPEG_CODEC=1 FFMPEG_PREFER_C2=1 
add_entry "- Debug" DEBUG=2 quiet
add_entry "- Debug w/ FFMPEG" FFMPEG_CODEC=1 FFMPEG_PREFER_C2=1 DEBUG=2 quiet

submenu "VM Options -> " --class forward {
	add_entry "- QEMU/KVM - Virgl - SW-FFMPEG" HWC=drm_minigbm GRALLOC=minigbm_arcvm quiet
	add_entry "- Vbox/VMWare - No HW Acceleration" nomodeset HWACCEL=0 quiet
	add_entry "- Debug QEMU/KVM - Virgl - SW-FFMPEG" DEBUG=2 HWC=drm_minigbm GRALLOC=minigbm_arcvm FFMPEG_HWACCEL_DISABLE=1
	add_entry "- Debug Vbox/VMWare - No HW Acceleration" DEBUG=2 nomodeset HWACCEL=0
}

submenu "Power ->" --class power {
    menuentry "reboot" {
        reboot
    }

    menuentry "shutdown" {
        halt
    }

    menuentry "UEFI Firmware Setup" {
        fwsetup
    }

    menuentry "UEFI Shell" {
        chainloader $prefix/shellx64.efi
    }
}

menuentry "USB Mass Storage" {
    linux $prefix/linux-usb-daget_ssh_123456.efi
}

menuentry "fastboot" {
    chainloader $prefix/fastboot.efi -f
}
