set timeout=5
set kernelopts="intel_pstate=passive no_timer_check noxsaves reboot_panic=p,w i915.nuclear_pageflip=1 drm.vblankoffdelay=1 intel_idle.max_cstate=2 tsc=reliable force_tsc_stable=1 clocksource_failover=tsc"
set data_part=/dev/mmcblk0p3

OS_NAME=BlissOS
if [ "${OS_NAME}" = "BlissOS" ];then
kernelopts="$kernelopts androidboot.hardware=bliss_x86_64"
fi

if [ -z "${new_data_mount}" ];then
    set new_data_mount=false
fi

kernelopts="$kernelopts acpi_sleep=s3_bios"

function add_entry {
    menuentry "${OS_NAME} $1" "$@" {
        shift 2
        if [ "${new_data_mount}" = "y" ];then
            set DATA=nodata
        else
            set DATA="$data_part"
        fi

        linux $prefix/vmlinuz SRC=. ROOT=/dev/mmcblk0p2 DATA=$DATA data_part=$data_part FFMPEG_CODEC2_PREFER=1 $kernelopts $@
        initrd $prefix/initrd.cpio.gz
    }
}

add_entry "" quiet
add_entry "- Debug" quiet DEBUG=2 androidboot.enable_console=1

submenu "VM Options -> " --class forward {
	add_entry "- QEMU/KVM - Virgl - SW-FFMPEG" HWC=drm_minigbm GRALLOC=minigbm_arcvm FFMPEG_HWACCEL_DISABLE=1 quiet
	add_entry "- Vbox/VMWare - No HW Acceleration" nomodeset HWACCEL=0 quiet
	add_entry "- Debug QEMU/KVM - Virgl - SW-FFMPEG" DEBUG=2 HWC=drm_minigbm GRALLOC=minigbm_arcvm FFMPEG_HWACCEL_DISABLE=1
	add_entry "- Debug Vbox/VMWare - No HW Acceleration" DEBUG=2 nomodeset HWACCEL=0
}

submenu "Power ->" --class power {
    menuentry --hotkey=q --class cancel "Cancel" {menu_reload}
    menuentry "reboot" {reboot}
    menuentry "shutdown" {halt}
    menuentry "UEFI Firmware Setup" {fwsetup}
    menuentry "UEFI Shell" {chainloader $prefix/shellx64.efi}

    menuentry "enable OTG - need disabled SecureBoot" {
        chainloader ($root)/setup_var.efi Setup:0x2a2=0x1
        reboot
    }
    menuentry "disable OTG - need disabled SecureBoot" {
        chainloader ($root)/setup_var.efi Setup:0x2a2=0x3
        reboot
    }
}

if [ -f "$prefix/ramdisk-recovery.img" ];then
menuentry "Recovery" {
    linux $prefix/vmlinuz SRC=. ROOT=/dev/mmcblk0p2 DATA=$data_part $kernelopts
    initrd $prefix/ramdisk-recovery.img
}
fi

menuentry "USB Mass Storage" {
    linux $prefix/linux-usb-daget_ssh_123456.efi
}

menuentry "fastboot" {
    chainloader $prefix/fastboot.efi -f
}
