[Desktop Entry]
Name=相机
Name[en]=Camera
Comment=GNOME Snapshot with Mi Pad 2 camera calibration
Exec=/usr/local/bin/mipad2-camera-launch
Icon=org.gnome.Snapshot
Terminal=false
Type=Application
Categories=AudioVideo;Video;Camera;
Keywords=camera;video;Snapshot;Mi Pad 2;
StartupNotify=true
DBusActivatable=false
Actions=AutoFocus;FullAutoFocus;

[Desktop Action AutoFocus]
Name=自动对焦后打开
Name[en]=Open with fast autofocus
Exec=/usr/local/bin/mipad2-camera-launch --autofocus

[Desktop Action FullAutoFocus]
Name=高精度自动对焦后打开
Name[en]=Open with full autofocus
Exec=/usr/local/bin/mipad2-camera-launch --full-autofocus
