# 小米平板2电容触摸按键重映射服务
service mipad2_key_remap /system/bin/key-remap
    class main
    user root
    group root input
    # 必须有 input 权限才能访问 /dev/input/event*
    disabled
    oneshot
    # 在输入设备初始化完成后启动
    start-delay 2

service udc_serial /system/bin/udc-serial.sh
    class main
    user root
    group root
    oneshot

# /dev/ttyGS0 串口终端
service ttygs0 /system/bin/ttygs0.sh
    class main
    user root
    group root shell log readproc
    seclabel u:r:init:s0
    disabled
    restart

# 在 sys.boot_completed 后启动（更保险）
on property:sys.boot_completed=1
    start mipad2_key_remap

    # 系统启动完成后设置 captive portal URLs
    exec -- /system/bin/settings put global captive_portal_https_url https://connect.rom.miui.com/generate_204
