set timeout=5
loadfont /EFI/boot/unicode.pf2

function add_entry {
    menuentry "OpenHarmony $1" "$@" {
        shift 2
        linux /EFI/ohos/bzImage LABEL=boot root=/dev/ram0 rw init=/init console=tty1 console=ttyUSB0,115200 \
            no_console_suspend default_boot_device=mmcblk0 hardware=x86_general elevator=deadline enforcing=0 \
            ohos.required_mount.system=/dev/block/mmcblk0p2@/usr@ext4@ro,barrier=1@wait,required \
            ohos.required_mount.vendor=/dev/block/mmcblk0p3@/vendor@ext4@ro,barrier=1@wait,required
        initrd /EFI/ohos/${1}
    }
}

add_entry "- Standard" ramdisk.img
add_entry "- Debug" ramdisk_dbg.img

submenu "Power ->" --class power {
    menuentry "reboot" {
        reboot
    }

    menuentry "shutdown" {
        halt
    }

    menuentry "UEFI Firmware Setup" {
        fwsetup
    }

    menuentry "UEFI Shell" {
        fwconsole
    }
}

menuentry "USB Mass Storage" {
    linux /EFI/boot/linux-usb-daget_ssh_123456.efi
}

menuentry "Fastboot" {
    chainloader /EFI/boot/fastboot.efi -f
}

menuentry "enable USB OTG" {
    chainloader /EFI/boot/setup_var.efi Setup:0x2A2=0x01
    reboot
}
